<h2>Ralph is Glad Your Critter Wears a Collar</h2>
<p>And he's a little jealous since he has to wear this ugly tie.</p>
<%= image_tag("http://1.bp.blogspot.com/-cIi5g6MoxPM/TanPwpyzsTI/AAAAAAAADYU/8Ep9NCfZH7I/s1600/IMG_3318.jpg", width: '200') %>
